.form-check {
  margin-left: 0.25rem;
}

#button-animated{
  background-color:rgb(33, 122, 255);
  color: rgb(235, 235, 235);
}

.form-check-input:checked{
  background-color:rgb(33, 122, 255);
  color: rgb(54, 133, 250);
  border-color: lightgray
}

.form-check-input:hover{
  border-color: rgb(33, 122, 255);
  cursor: pointer;
}

.form-check-input:focus{
  box-shadow: lightgrey;
}

img{
  margin: auto;
}

#btn-buscar{
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

td{
  border-style: solid;
  border-color: lightgray;
  border-left-color: lightgrey;
  border-width: 1px;
  vertical-align: middle;
}
